html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  font-family: arial;
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  text-indent:30px;
  text-transform: uppercase;
  color: rgb(21,89,145);
  letter-spacing: 10px; 
  line-height: 40px;
}
.inputtextboxes {
  display: inline-block;
}
.fas {
  opacity: .5;
}
